.idea
.DS_Store
flink
kafka
l3stream-genealog
bin/**/*.json
bin/**/*.csv
bin/**/*.log
bin/**/*.txt
data/checkpoints
data/output
data/input/YSB/streaming-benchmarks/
data/datagen
data/test0918
data/**/*.csv
data/**/*.csv.1
data/**/*.csv.2
data/**/*.parquet
data/**/*.json
data/**/*.json.1
data/**/*.json.2
data/**/*.txt
script

lib/*jar
target
dependency-reduced-pom.xml
l3stream.iml
data/input/Nexmark/nexmark/
data/input/Nexmark/*.sql
data/input/Nexmark/*.json

script/autoReplayOutCheck/**/*.log
/bin/lineageManagerConfig.sh
