.idea
.DS_Store
flink-1.17.1
kafka_2.12-3.4.1
data/checkpoints
data/output
/data/input/YSB/streaming-benchmarks/
data/datagen
data/log*
data/test0918
data/**/*csv
data/**/*parquet
data/**/*json
data/**/*txt

lib/*jar
target
dependency-reduced-pom.xml
l3stream.iml
